.container {
  display: flex;
  align-items: center;
  background-color: var(--color-dark-900);
}

.label {
  cursor: pointer;
  padding-right: 10px;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: 3px solid var(--color-light-900);
  border-radius: 4px;

  &:disabled {
    cursor: auto;

    &::before,
    &::after {
      transform: translate(-50%, -50%) scale(0);
      background-color: transparent;
    }

    .indicator {
      fill: var(--color-dark-100);
    }
  }
}

.checked {
  border-color: transparent;

  .indicator {
    opacity: 1;
  }
}
