.background {
  padding: 9px;
  vertical-align: center;
  border-radius: 50%;
  transition: var(--transition-duration-basic) background-color;
}

.checkBlank {
  border: 2px solid;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border-radius: 2px;

  transition: var(--transition-duration-basic) background-color;
}

.container {
  all: unset;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;

  padding: 0;

  background-color: transparent;
  border: none;

  &[data-disabled] {
    cursor: auto;

    .checkBlank {
      cursor: auto;
      border-color: var(--color-dark-100);
    }

    &[data-state='checked'] {
      .checkbox {
        background-color: var(--color-light-700);
      }
    }
  }

  &:not([data-disabled]) {
    &:hover,
    &:focus-within {
      .background {
        background-color: var(--color-dark-500);

        .checkBlank {
          background-color: var(--color-dark-500);
        }
      }
    }

    &:active,
    &:focus-visible {
      .background {
        background-color: var(--color-dark-100);

        .checkBlank {
          background-color: var(--color-dark-100);
        }
      }
    }
  }
}

.label {
  color: var(--color-light-100);
}

.disabled {
  color: var(--color-dark-100);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position {
  margin-left: -9px;
}
