.card {
  width: 100%;
  max-width: 420px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 37px 36px 44px;

  text-align: center;
}

.title {
  color: var(--color-light-100);
  text-align: center;
}

.button {
  margin-top: 65px;
  transition: var(--transition-duration-basic) background-color;

  &:hover {
    background-color: var(--color-accent-300);
  }
}

.text {
  margin-top: 19px;
  color: var(--color-light-900);
  text-align: center;
  opacity: 0.5;
}

.icon {
  width: 96px;
  height: 96px;
  margin-top: 27px;
}
