.card {
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: 420px;

  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: flex-start;

  width: 100%;
  margin-bottom: 60px;
  padding: 0 36px;
}

.title {
  margin-top: 33px;
  color: var(--color-light-100);
  text-align: center;
}

.text {
  color: var(--color-light-900);
  text-align: left;
  opacity: 0.5;
}

.button {
  margin-top: 22px;
}
