.inputContainer {
  position: relative;
  height: 36px;
}

.marginTop {
  margin-top: 24px;
}

.marginBottom {
  margin-bottom: 40px;
}

.iconButton {
  all: unset;
  cursor: pointer;
  background-color: transparent;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 11px;

  color: var(--color-dark-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  &:disabled {
    color: var(--color-dark-300);
  }

  &.errorMessage:enabled {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);
    border-radius: 2px;
    outline: none;
  }

  &:hover:enabled {
    color: var(--color-dark-100);
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);

    &.errorMessage {
      color: var(--color-danger-300);
      border-color: var(--color-danger-300);
      outline: none;
    }
  }

  &:focus:enabled {
    color: var(--color-dark-100);

    background-color: transparent;
    border: 1px solid var(--color-info-700);
    border-radius: 2px;
    outline: 1px solid var(--color-info-700);

    &.errorMessage {
      color: var(--color-danger-300);
      border-color: var(--color-danger-300);
      outline: none;
    }
  }

  &:active:enabled {
    color: var(--color-light-100);
    border-color: var(--color-light-100);
    outline: none;
  }
}

.search {
  padding-left: 42px;
}

.password {
  padding-right: 36px;
}

.error {
  position: absolute;
  top: 36px;
  left: 0;
  color: var(--color-danger-300);
}

.icon {
  position: absolute; // Позиционируем иконку абсолютно внутри родительского элемента
  z-index: 1;
  top: 50%; // Размещаем её вертикально по центру относительно родительского контейнера
  left: 12px; // Устанавливаем её слева от поля ввода
  transform: translateY(-50%); // Дополнительная коррекция для вертикального центрирования

  width: 20px;
  height: 20px;

  color: var(--color-dark-100);
}

.eyeIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  bottom: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  margin-right: 12px;
  padding: 0;

  color: var(--color-dark-100);
}

.label {
  position: absolute;
  bottom: 38px; // Разместить над контейнером
  left: 0; // Разместить слева

  height: 24px;

  color: var(--color-dark-100);
}

.disabled {
  cursor: default;
  color: var(--color-dark-300);
}
