@import 'utils/common-styles-input/common-styles-input';

.inputContainer {
  position: relative;
  width: 284px;
  height: 36px;
}

.default {
  @include common-styles-input;
}

.password {
  @include common-styles-input;

  padding-right: 40px; // Ширина иконки глаза + дополнительный отступ
}

.search {
  @include common-styles-input;

  padding-left: 40px; // Это значение должно быть больше, чем левый отступ иконки
}

.icon {
  position: absolute; // Позиционируем иконку абсолютно внутри родительского элемента
  z-index: 1;
  top: 50%; // Размещаем её вертикально по центру относительно родительского контейнера
  left: 10px; // Устанавливаем её слева от поля ввода
  transform: translateY(-50%); // Дополнительная коррекция для вертикального центрирования

  width: 20px;
  height: 20px;

  color: var(--color-dark-100);
}

.eyeIcon,
.eyeIconOff {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: calc(100% - 20px - 10px);
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  color: var(--color-dark-100);
}

.label {
  position: absolute;
  bottom: 33px; // Разместить над контейнером
  left: 0; // Разместить слева

  width: 32px;
  height: 24px;

  color: var(--color-dark-100);
}

.error {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);
}

.fullWidth {
  width: 100%;
}
