.header {
  padding: 12px 136px;
  color: var(--color-light-100);
  background-color: var(--color-dark-700);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0;

    .logo {
      height: 36px;
    }

    .children {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
